version: 2
jobs:
  build:
    docker:
      - image: 'cimg/node:18'
    steps:
      - checkout
      - run:
          name: install
          command: npm install
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test:ci
      - run:
          name: build
          command: npm run build
      - run:
          name: release
          command: npm run semantic-release || true
